<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2> Datos de Cuenta </h2>
    <!-- recuperamos datos de la API con AJAX -->
    <iron-ajax
      auto=""
      id="getAccount"
      url="http://localhost:3000/apitechu/v2/users/{{user_id}}/accounts"
      content-type="application/json"
      handle-as="json"
      on-response="getBalance">
    </iron-ajax>


  <h3>user_id: {{user_id}} con IBAN: {{iban}} </h3>
  <h3>Balance: {{balance}} </h3>

</template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuenta extends Polymer.Element {
      static get is() { return 'visor-cuenta'; }
      static get properties() {
        return {
          user_id: {
            type: Number
          },
          iban: {
            type: String
          },
          balance: {
            type: Number
          }
        };
      }

      getBalance(data){
        //console.log("botón pulsado");
        console.log(data.detail.response);

        this.user_id = data.detail.response[0].user_id;
        this.iban = data.detail.response[0].iban;
        this.balance = data.detail.response[0].balance;

        console.log("petición enviada");
      }
    }

    window.customElements.define(VisorCuenta.is, VisorCuenta);
  </script>
</dom-module>
