<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <h2> Datos de Usuario </h2>
    <div class="row">
      <h3 class="col-md-2">Hola md 2</h3>
      <h3 class="col-md-5">Hola md 5</h3>
    </div>
    <input type="email" placeholder="Email" value="{{email::input}}" />
    <input type="password" placeholder="Password" value="{{password::input}}"/>
    <button class="btn btn-success" on-click="login">Login</button>
    <button class="btn btn-warning" >Logout</button>
    <button class="btn btn-danger" >Logout</button>
    <button class="btn btn-info" >Logout</button>
    <br>
    <span hidden$={{!logged}}>Bienvenido, {{email}}</span>

  <!-- recuperamos datos de la API con AJAX -->
  <iron-ajax
    id="doLogin"
    method="POST"
    url="http://localhost:3000/apitechu/v2/login"
    content-type="application/json"
    handle-as="json"
    on-response="manageAJAXResponse"
    on-error="showError"
  </iron-ajax>

</template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          id: {
            type: Number
          },
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          email: {
            type: String
          },
          password: {
            type: String
          },
          logged: {
            type: Boolean,
            value: false
          }
        };
      }

      login(){
        this.logged=false;
        console.log("botón pulsado");
        var loginData = {
          "email": this.email,
          "password": this.password
        }
        //transforma el objeto js
        this.$.doLogin.body = JSON.stringify(loginData);
        //genera petición con los parámetros disponibles (ahora, el body)
        this.$.doLogin.generateRequest();
        console.log("petición enviada");
      }
      //manejador respuesta de la petición que vamos a enviar
      manageAJAXResponse(data){
        console.log("Respuesta AJAX recibida: ");
        console.log(data.detail.response);
        this.logged= true;
        //alert("Msg= "+ data.detail.response.msg);
      }

      showError(error){
        console.log("Ups... ha habido un error: ");
        console.log(error);
      }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
