<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="frontirbproject-app-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Soy [[first_name]] [[last_name]]</h2>
    <h3>y tengo [[age]] años</h3>

    <input type="text" value="{{first_name::input}}" />
    <input type="text" value="{{last_name::input}}" />
    <input type="range" min="18" value={{age::input}} max="99"/>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class FrontirbprojectAppApp extends Polymer.Element {
      static get is() { return 'frontirbproject-app-app'; }
      static get properties() {
        return {
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          age: {
            type: Number
          }
        };
      }
    }

    window.customElements.define(FrontirbprojectAppApp.is, FrontirbprojectAppApp);
  </script>
</dom-module>
